GitPython==3.1.47
matplotlib==3.10.8
ptyprocess==0.7.0
sympy==1.14.0
triton==3.6.0
referencing==0.37.0
pandas==3.0.2
fickling==0.1.10
numpy==2.4.4
PyYAML==6.0.3
pillow==12.2.0
jedi==0.19.2
pyparsing==3.3.2
matplotlib-inline==0.2.1
locket==1.0.0
click==8.3.2
nvidia-cusparse==12.6.3.3
abnf==2.2.0
nvidia-cuda-runtime==13.0.96
cryptography==46.0.7
sortedcontainers==2.4.0
backoff==2.2.1
partd==1.4.2
traitlets==5.14.3
propcache==0.4.1
decorator==5.2.1
gitdb==4.0.12
MarkupSafe==3.0.3
anyio==4.13.0
nvidia-cufile==1.15.1.6
cffi==2.0.0
comm==0.2.3
tenacity==9.1.4
asttokens==3.0.1
ipython_pygments_lexers==1.1.1
natsort==8.4.0
rpds-py==0.30.0
polyfile-weave==0.5.9
cloudpickle==3.1.2
pyarrow==23.0.1
typing_extensions==4.15.0
graphql-core==3.2.8
fastjsonschema==2.21.2
cachetools==7.0.6
typing-inspection==0.4.2
kiwisolver==1.5.0
Jinja2==3.1.6
jsonschema-specifications==2025.9.1
h11==0.16.0
widgetsnbextension==4.0.15
pydantic_core==2.46.3
kaitaistruct==0.11
smmap==5.0.3
cint==1.0.0
llvmlite==0.47.0
fonttools==4.62.1
diskcache-weave==5.6.3.post1
attrs==26.1.0
narwhals==2.20.0
netCDF4==1.7.4
nvidia-cusolver==12.0.4.66
numba==0.65.0
networkx==3.6.1
multidict==6.7.1
jupyterlab_widgets==3.0.16
tornado==6.5.5
cuda-toolkit==13.0.2
debugpy==1.8.20
nvidia-nvshmem-cu13==3.4.5
cycler==0.12.1
Pygments==2.20.0
python-dateutil==2.9.0.post0
nvidia-cuda-nvrtc==13.0.88
fsspec==2026.3.0
ipykernel==7.2.0
graphviz==0.21
cuda-pathfinder==1.5.3
six==1.17.0
intervaltree==3.2.1
platformdirs==4.9.6
nvidia-cufft==12.0.0.61
distro==1.9.0
jsonschema==4.26.0
charset-normalizer==3.4.7
protobuf==7.34.1
jiter==0.14.0
weave==0.52.37
gelidum==0.10.1
plotly==6.7.0
ipywidgets==8.1.8
jupyter_core==5.9.1
psutil==7.2.2
pyzmq==27.1.0
pycparser==3.0
sniffio==1.3.1
filelock==3.28.0
packaging==26.0
nvidia-cublas==13.1.0.3
gql==4.0.0
requests==2.33.1
nbformat==5.10.4
mpmath==1.3.0
setuptools==81.0.0
wandb==0.26.0
annotated-types==0.7.0
nvidia-cuda-cupti==13.0.85
pexpect==4.9.0
animatplot-ng==0.4.5
nvidia-cusparselt-cu13==0.8.0
nvidia-nvtx==13.0.85
dask==2026.3.0
chardet==7.4.3
tqdm==4.67.3
httpcore==1.0.9
pure_eval==0.2.3
pydantic==2.13.3
sentry-sdk==2.58.0
cuda-bindings==13.2.0
parso==0.8.6
scipy==1.17.1
openai==2.32.0
urllib3==2.6.3
jupyter_client==8.8.0
boutdata==0.4.0
prompt_toolkit==3.0.52
wcwidth==0.6.0
nest-asyncio==1.6.0
nvidia-nccl-cu13==2.28.9
xarray==2026.4.0
executing==2.2.1
yarl==1.23.0
nvidia-curand==10.4.0.35
cftime==1.6.5
httpx==0.28.1
toolz==1.1.0
torch==2.11.0
stack-data==0.6.3
idna==3.12
certifi==2026.2.25
nvidia-nvjitlink==13.0.88
nvidia-cudnn-cu13==9.19.0.56
contourpy==1.3.3
ipython==9.13.0
pdfminer.six==20260107
xbout==0.3.8
